---
import { Picture } from "astro:assets";
import Tag from "./Tag.astro";
const { img, alt, tags, title, style, href } = Astro.props;
---

<article class="project-card" style={style}>
    <div class="project-card__image-wrapper">
        <Picture
            src={img}
            widths={[400, 800, 1200, img.width]}
            alt={alt}
            class="project-card__image"
            loading="lazy"
        />
    </div>
    <div class="project-card__overlay">
        <div class="project-card__text">
            <h3 class="project-card__title">
                <a target="_blank" href={href} rel="noreferrer"
                    >{title}<svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M14.8284 12L16.2426 13.4142L19.071 10.5858C20.6331 9.02365 20.6331 6.49099 19.071 4.9289C17.509 3.3668 14.9763 3.3668 13.4142 4.9289L10.5858 7.75732L12 9.17154L14.8284 6.34311C15.6095 5.56206 16.8758 5.56206 17.6568 6.34311C18.4379 7.12416 18.4379 8.39049 17.6568 9.17154L14.8284 12Z"
                            fill="currentColor"></path><path
                            d="M12 14.8285L13.4142 16.2427L10.5858 19.0711C9.02372 20.6332 6.49106 20.6332 4.92896 19.0711C3.36686 17.509 3.36686 14.9764 4.92896 13.4143L7.75739 10.5858L9.1716 12L6.34317 14.8285C5.56212 15.6095 5.56212 16.8758 6.34317 17.6569C7.12422 18.4379 8.39055 18.4379 9.1716 17.6569L12 14.8285Z"
                            fill="currentColor"></path><path
                            d="M14.8285 10.5857C15.219 10.1952 15.219 9.56199 14.8285 9.17147C14.4379 8.78094 13.8048 8.78094 13.4142 9.17147L9.1716 13.4141C8.78107 13.8046 8.78107 14.4378 9.1716 14.8283C9.56212 15.2188 10.1953 15.2188 10.5858 14.8283L14.8285 10.5857Z"
                            fill="currentColor"></path></svg
                    ></a
                >
            </h3>
            <div class="project-card__description">
                <slot />
            </div>
        </div>
        {
            tags.length && (
                <div class="project-card__tags">
                    {tags.map((t: string) => (
                        <Tag class="tag">{t}</Tag>
                    ))}
                </div>
            )
        }
    </div>
</article>
<style>
    .project-card {
        position: relative;
        display: flex;
        isolation: isolate;
        box-shadow: 0 0 4px var(--colour-primary);
        border-radius: var(--radius-10);

        aspect-ratio: 350 / 326;

        transform: scale(0.8);
        opacity: 0;

        @media (min-width: 1024px) {
            aspect-ratio: 580 / 326;
        }

        .project-card__image-wrapper {
            border-radius: var(--radius-10);
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            z-index: -1;
        }

        .project-card__image-wrapper::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);

            @media screen and (min-width: 1024px) {
                opacity: 0;
                transition: opacity 300ms ease;
            }
        }
        .project-card__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;
        }

        .project-card__overlay {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-24);

            padding: var(--spacing-20);

            @media screen and (min-width: 1024px) {
                justify-content: flex-end;
                opacity: 0;
                transition: opacity 300ms ease;
            }
        }

        .project-card__text {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-20);
            flex-grow: 1;
        }

        .project-card__title {
            font-size: var(--fs-24);
            color: var(--colour-primary);
            text-decoration: underline;

            a {
                display: flex;
                gap: var(--spacing-6);
            }
        }

        .project-card__description {
            font-size: var(--fs-14);
        }

        .project-card__tags {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-10);
        }

        &:hover {
            .project-card__image-wrapper::after {
                opacity: 1;
            }

            .project-card__overlay {
                opacity: 1;
            }
        }
    }

    :global(.in-view) .project-card {
        animation: bounce forwards 1s ease-in-out calc(var(--i, 0) * 250ms);
    }

    @keyframes bounce {
        0% {
            transform: scale(0.8);
            opacity: 0;
        }

        50% {
            transform: scale(1.05);
            opacity: 1;
        }
        80%,
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>
